.user-listings__main {
  display: flex;
}

.user-listings__grid {
  display: grid;
  margin: 2em 0 4em;
  gap: 2%;
}

.user-listing__btn {
  align-self: center
}

.user-listing__btn-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
}

.user-listing__button {
  margin: .5em;
  cursor: pointer;
  padding: .25em;
  border-radius: .25em;
  transition: .2s;
}

.user-listing__button:hover {
  background-color: rgb(221, 221, 221);
}

.user-listing__btn {
  margin: 1em;
  padding: .5em
}

.user-listings__cards {
  padding: .5em;
  display: flex;
  flex-direction: column;
  border-radius: .50em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}