.booking-link__container {
  display: flex;
  justify-content: flex-start;
  margin: 1em 1em 1em 0;
}

.booking-link {
  display: flex;
}

.booking-link__image {
  width: 5em;
  margin-right: 1em;
  background-size: cover;
  background-position: center;
  border-radius: .4em;
}

.booking-link__image::after{
  display: block;
  padding-top: 100%;
  content: '';
}

.booking-link__text > p {
  margin: .5em;
}

.booking-link__city {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.booking-link__date {
  text-decoration: none;
  color: #474747;
}