.edit-listing-container {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.edit-listing-form {
  margin: 2em;
  display: flex;
  flex-direction: column;
}

.edit-listing__input {
  margin: .25em;
  padding: 1em;
  max-width: 100%;
  border-radius: .50em;
  border: .5px solid #C8C8C8;
}

.edit-listing-form__btn {
  max-width: 100%;
  margin: 1em;
}
.edit-listing__input-label {
  display: flex;
  width: 100%;
  align-items: center;
}

.edit-listing__btn-container {
  display: flex;
  flex-direction: column;
}