.booking__details {
  font-family: 'Montserrat', sans-serif;
  display: flex;
}

.booking__details-info {
  margin: 0 4em 4em;
}

.booking__details-location {

}

.booking__details-dates {

}

.cancel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}