.listing-form__page {
  display: grid;
  grid-template-rows: auto auto;
}

.listing-form__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.listing-form__header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 600;
  padding: 1em;
}


.listing-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
}

.listing-form__top {
  min-width: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listing-form__middle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.listing-form__input {
  margin: 1em 0;
  padding: 1em;
  min-width: 100%;
  border-radius: .50em;
  border: .5px solid #C8C8C8;
}

.listing-form__input-middle {
  margin-top: 1em;
  padding: 1em;
  min-width: 45%;
  border-radius: .50em;
  border: .5px solid #C8C8C8;
}

.listing-form__input:focus {
  outline: none
}

.listing-form__btn {
  min-width: 100%;
}

.listing-form__header {
  margin-bottom: 2em;
}

.listing-form__amenities {
  max-width: 30em;
  margin-top: 2em;
}

.listing-form__textarea {
  width: 100%;
  resize: none;
  margin-top: 0.5em;
  border: none;
  outline: none;
  overflow: hidden;
  padding: .5em .75em;
}

.listing-form__textarea-container {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 0.5em;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
