.reservation {
  font-family: 'Montserrat', sans-serif;
  min-height: 15em;
  max-width: 25%;
  min-width: 25em;
  padding: 1em .5em 1em .5em;
  margin: 2em 0;
  border: #E2E2E2 1px solid;
  border-radius: .5em;
  box-shadow: 0 3px 7px rgba(33,33,33,.2);
  background-color: white;
  text-align: left;
}

.reservation__details-header {
  text-align: center;
  padding-bottom: 1em;
  font-size: 1.25em;
  font-weight: 600;
}

.reservation__text-dates {
  display: flex;
  justify-content: space-around;
  padding-bottom: .75em;
}

.reservation__detail-out {
  border-left: #E2E2E2 1px solid;
  padding-left: 4em;
}

.reservation__detail {
  font-size: .75em;
  text-align: center;
  padding-bottom: .25em;
  font-weight: 600;
}

.reservation__detail-booking {
  padding: .5em 1em;
  display: flex;
  justify-content: space-between;
}

.reservation__text {
  font-weight: 600;
}