.booking__display-header {
  font-family: 'Montserrat', sans-serif;
}

.booking__display-rating-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: .85em;
}

.booking__display-rating-container > p {
  margin-right: .25em;
}

.booking__display-rating-amount {
  font-weight: 500;
  text-decoration: underline;
}

.booking__display-rating-text {
  font-weight: 500;
}

.listing__desc-bookingcard {
  display: grid;
  line-height: 1.5em;
  grid-template-columns: 3fr 1fr;
}

.rating__first-text {
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s;
  padding: .25em;
  border-radius: .15em;
}

.rating__first-text:hover {
  background-color: rgb(235, 235, 235);
}