.booking__display-header {
  font-family: 'Montserrat', sans-serif;
}

.booking__display-header-name {
  font-size: 1.75em;
  font-weight: 600;
  margin: .5em
}

.booking__display-header-location {
  margin: .75em
}