.edit-images-wrapper {
  border-radius: 0.5em;
  min-height: 66vh;
  background-color: white;
  max-height: 66vh;
  max-width: 33em;
  min-width: 33em;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative
}

.header-title__edit{
  font-size: 1.75em;
  font-weight: 500;
  margin: .5em 0;
}

.edit-images__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
  padding-bottom: 5em;
}

.edit-booking-link__image {
  max-width: 5em;
}

.edit__image {
  background-size: cover;
  background-position: center;
  border-radius: 0.4em;
}

.edit__image::after {
  display: block;
  padding-top: 100%;
  content: "";
}

.edit-booking-link__button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.edit-image__container {
  position: relative;
}

.image__close {
  position: absolute;
  cursor: pointer;
  top: .25em;
  right: .25em;
  color:rgba(57, 57, 57, 0.7);
  font-weight: bold;
  background-color: rgba(230, 230, 230, 0.6);
  border-radius: .15em;
  transition: 0.15s
}

.image__close:hover {
  background-color: rgba(172, 172, 172, 0.7);
  padding: .05em;
}

/* .file__upload-container-listing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.file__upload-choose-listing {
  border: transparent;
  display: flex;
  margin-left: 8.25em;
}

.file__upload-choose-text-listing {
  display: flex;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: .85em;
  border-radius: 0.5em;
  background-color: #ff5a5f;
  padding: 1em;
}

.booking-link__button {
  margin-top: 2em;
  width: 32%;
}

.loader__container {
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}