.avatar__image {
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  font-size: 1.75em;
}

.avatar__image::after {
  display: block;
  padding-top: 100%;
  content: "";
}

.avatar__no-image {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.75em;
  font-weight: bold;
  border-radius: 50%;
  background-color: #FF5A5F
}
