*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
}

* {
  text-decoration: none;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
}

.btn {
  background-color: #ff5a5f;
  color: white;
  font-weight: 600;
  padding: 0.75em 2em;
  border: transparent;
  border-radius: 0.5em;
}

.btn:hover {
  background-color: #ff3339;
  cursor: pointer;
}
.header-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75em;
  font-weight: 600;
  margin-top: 1em;
}

.input-field {
  padding: 0.85em 8em 0.85em 2em;
  border-radius: 2em;
  border: #e2e2e2 1px solid;
  box-shadow: 0 3px 3px rgba(33, 33, 33, 0.2);
  transition: box-shadow 0.3s;
}

.input-field:focus {
  outline: none;
}

.form__card {
  border-radius: 0.5em;
  box-shadow: 0 3px 7px rgba(33, 33, 33, 0.2);
  margin: 1em;
  position: relative;
  background-color: white;
  padding: 0.5em;
}

.header-subtitle {
  font-family: "Montserrat", sans-serif;
  margin: 0.85em 0;
  padding: 0.5em 0;
}
.btn:focus {
  outline: none;
}

.underline {
  border-bottom: #e2e2e2 1px solid;
}

.container {
  max-width: 1650px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding-right: 0;
  padding-left: 0;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.col-1 {
  max-width: 8.3333333333333%;
  flex: 0 0 8.3333333333333%;
}
.col-2 {
  max-width: 16.6666666666667%;
  flex: 0 0 16.6666666666667%;
}
.col-3 {
  max-width: 25%;
  flex: 0 0 25%;
}
.col-4 {
  max-width: 33.3333333333333%;
  flex: 0 0 33.3333333333333%;
}
.col-5 {
  max-width: 41.6666666666667%;
  flex: 0 0 41.6666666666667%;
}
.col-6 {
  max-width: 50%;
  flex: 0 0 50%;
}
.col-7 {
}
.col-8 {
}
.col-9 {
}
.col-10 {
}
.col-11 {
}
.col-12 {
  max-width: 100%;
  flex: 0 0 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-left: 3em;
  padding-right: 2em;
}

.grid-item {
  margin: 0.5em;
}
/* x-sm */
@media screen and (min-width: 376px) {
  .grid-container {
    /* display: grid; */
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 550px) {
  .grid-container {
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
  }
}

/* md */
@media screen and (min-width: 950px) {
  .grid-container {
    /* display: grid; */
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* lg */
@media screen and (min-width: 1120px) {
  .grid-container {
    /* display: grid; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .listing__container {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* xl */
@media screen and (min-width: 1600px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .listing__container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}

::-webkit-scrollbar {
  left: 100px;
  background-color: transparent;
  width: .6em;
  border: 1em solid transparent;

}

::-webkit-scrollbar-track {
  width: .5em;
  background-color: white;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(146, 146, 146, 0.4);
  border-radius: 20px;
  background-clip: content-box;
  width: .5em;
}