.listing-photos {
  margin-left: 3em;
  margin-right: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.listing-photos__main {
  margin: .25em;
}

.listing-photos__sub {
  display: flex;
  flex-wrap: wrap;
}

.listing-photos__main-image {
  border-radius: .6em 0 0 .6em;
}

.listing__photos-sub {
  float: left;
  padding: .25em;
  max-width: 50%;
  height: auto;
  flex: 0 0 50%;
}

.listing-photos__photo1 {

}
.listing-photos__photo2 {
  border-top-right-radius: .6em;
}
.listing-photos__photo3 {

}
.listing-photos__photo4 {
  border-bottom-right-radius: .6em;
}

.listing-photos__image {
  width: 100%;
  margin: 0;
  background-size: cover;
  background-position: center;
}

.listing-photos__image::after{
  display: block;
  padding-top: 100%;
  content: '';
}