.file__upload-choose-text-listing:hover {
  background-color: #fe3d43;

}

.signup-form__input-file-listing {
  width: 10em;
}

.file__upload-choose:hover {
  background-color: rgb(241, 241, 241);
}

.file__upload-choose-text {
  cursor: pointer;
  min-width: 100%;
  padding: 0em 2em;
}

.file__name {
  font-family: 'Montserrat', sans-serif;
  font-size: .9em;
}

.file__name-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.file__trashcan {
  margin-left: 1em;
  padding: .15em;
  border-radius: .25em;
  cursor:pointer;
  transition: .3s;
}

.file__trashcan:hover {
  background-color:rgb(241, 241, 241)
}
