.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 7em;

  font-family: 'Montserat', sans-serif;
  position: sticky;
  top: 0;
  /* margin-bottom: 3em; */
  background-color: white;
  border-bottom: #E2E2E2 1px solid;
  z-index: 10;
}

.navbar__logo-image {
  width: 2.5em;
}

.navbar__logo {
  display: inline-flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.navbar__logo {
  color: #FF5A5F;
  text-decoration: none;
  font-size: 19px;
  font-weight: 800;
}

.navbar__user {
  display: flex;
  align-items: center;
}

.navbar__host {
  padding: .85em;
  border-radius: 2em;
  margin-right: 2em;
  font-size: .85em;
  font-weight: bold;
  text-decoration: none;
  color: #474747;
}

.navbar__host:hover {
  background-color: #F6F6F6;
}
