.listing__desc-container {
  display: flex;
  flex-direction: column;
}

.listing__desc-header {
  font-size: 1.5em;
  margin: 2em 0 1em;
}

.listing__desc-underline {
  border-bottom: 1px gainsboro solid;
  margin: 2em 0;
  max-width: 100%;
}

.listing__desc-header-container {
  display: flex;
  justify-content: space-between;;
  align-items: center;
  position: relative;
}

.listing__desc-header-container-right {
  position: absolute;
  right: 2em;
  top: 3em;
}

.listing__desc-text {
  max-width: 90%;
}

.listing__desc-amenities-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.amenities__header {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 1em;
}

.close__amenities {
  cursor: pointer;
  transition: 0.3s;
  padding: .15em;
  border-radius: 50%;
}

.close__amenities:hover {
  background-color: rgb(236, 236, 236);
}

.amenity__container {
  font-size: 1em;
  margin: .75em 0;
  display: flex;
}

.amenity__container > span {
  margin-right: .5em;
}

.amenity__button {
  margin: 1em 1em 1em 0;
  font-weight: 500;
  border: 1px solid black;
  cursor: pointer;
  padding: 1em;
  max-width: 14em;
  border-radius: .25em;
  transition: .3s;
}

.amenity__button:hover {
  background-color: rgb(234, 234, 234)
}

.all-amenities__container {
  width: 50em;
  padding: 0 1.5em 1.5em;
  max-height: 80vh;
  overflow: auto;
  position: relative;
}

.all-amenity__container {
  display: flex;
  align-items: center;
}

.all-amenity__container > span {
  margin-right: 1em;
}

.all-amenities__header {
  position: sticky;
  top: 0;
  padding: 1em 0;
  background-color: white;
}

.all-amenities__container::-webkit-scrollbar {
  left: 100px;
  background-color: transparent;
  width: .6em;
  border: 1em solid transparent;
}

.all-amenities__container::-webkit-scrollbar-track {
  width: .5em;
  background-color: rgba(179, 179, 179, 0.4);
  border-radius: 20px;
}

.all-amenities__container::-webkit-scrollbar-thumb {
  background-color: rgba(146, 146, 146, 0.4);
  border-radius: 20px;
  background-clip: content-box;
  width: .5em;
}