.delete-listing__form {
  display: flex;
  flex-direction: column;
  max-width: 20em;
  align-items: center;
  padding: 1em;
}

.delete-listing__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  text-align: center;
  font-weight: 600;
  margin-bottom: 1em;
}

.delete-listing__btn {
  margin: 1em;
  width: 13em;
}

.delete-listing__text {
  margin-top: 1em;
  text-align: center;
}

.delete-link__image {
  width: 12em;
  margin-right: 1em;
  background-size: cover;
  background-position: center;
  border-radius: .4em;
}

.delete-link__image::after {
  display: block;
  padding-top: 100%;
  content: '';
}